html,body{
    margin: 0;
    padding: 0;
}

header{
    margin: 2%;
}

section{
    margin: 2%;
    padding: 2%;
    background-color: aliceblue;
}
section#handles a{
    float: right;}

.detail_item{
    border: 1px #893 solid;
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.detail_item span.name{
    float: left;
}

.detail_item button{
    float: right;
}
#myDog{
    font-size: 15px;
}